src/slivarpkg/duko
src/slivarpkg/duodel
*.swp
src/slivar
src/slivarpkg/evaluator
src/slivarpkg/gnotate
src/slivarpkg/groups
src/slivarpkg/ddc
src/slivarpkg/pracode
src/slivarpkg/sl_gnotate
__tmp.groups
sli.var
*.zip
*.bin
src/slivarpkg/filter
src/slivarpkg/comphet
*.json
src/slivarpkg/make_gnotate
src/slivarpkg/fastsets
src/slivarpkg/pedfile
src/slivarpkg/tsv
*.vcf*
*.bed*
*.tsv

src/slivarpkg/siset
*.tsv
paper/dn_roc
