src/slivarpkg/duko
*.swp
src/slivar
src/slivarpkg/evaluator
src/slivarpkg/gnotate
src/slivarpkg/groups
src/slivarpkg/pracode
src/slivarpkg/sl_gnotate
__tmp.groups
sli.var
*.zip
*.bin
src/slivarpkg/filter
src/slivarpkg/comphet
*.json
src/slivarpkg/make_gnotate
src/slivarpkg/siset


